<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9915106184713182"
     crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>TechiSupport</title>
</head>
<body>
    {{>header}}
    <br><br><br>
      <section class="about" id="about" >
    <div class="container">

      <figure class="about-banner">

        <img src="images/about-img.png" alt="techi support students" class="about-img">



        <button class="play-btn">
          <ion-icon name="play"></ion-icon>
        </button>

      </figure>

      <div class="about-content">

        <h2 class="h2 about-title">We Help to Create Possibility & Success in Your Career!</h2>

        <p class="section-text">
          Continually administrate process-centric human capital rather than bleeding-edge methodologies.
          Distinctively supply
          accurate methods of empowerment before.
        </p>

        <button class="btn btn-primary"><a href="/login">Get Started Today</a></button>

      </div>

    </div>
  </section>
   <section class="teachers">
    <div class="container">


      <div class="title-wrapper">
        <h2 class="h2 teachers-title">Introduce with Our Faculties</h2> 
      </div>

      <ul class="teachers-list">

        <li>
          <div class="teachers-card">

            <figure class="card-banner">
              <img src="images/me.jpg" alt="myself">
            </figure>

            <a href="#">
              <h3 class="card-title">Ashwani kumar</h3>
            </a>

            <p class="card-subtitle">Founder & full stack developer</p>

            <ul class="card-social-list">

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-google"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>

            </ul>

          </div>
        </li>

        <li>
          <div class="teachers-card">

            <figure class="card-banner">
              <img src="images/brijesh.jpg" alt="brijesh">
            </figure>

            <a href="#">
              <h3 class="card-title">Brijesh Singh</h3>
            </a>

            <p class="card-subtitle">Senior Faculty advisor</p>

            <ul class="card-social-list">

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-google"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>

            </ul>

          </div>
        </li>

        <li>
          <div class="teachers-card">

            <figure class="card-banner">
              <img src="images/himanshugkp.jpg" alt="person3">
            </figure>

            <a href="#">
              <h3 class="card-title">Himanshu</h3>
            </a>

            <p class="card-subtitle">Content Manager</p>

            <ul class="card-social-list">

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-google"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>

            </ul>

          </div>
        </li>
         <li>
          <div class="teachers-card">

            <figure class="card-banner">
              <img src="images/himanshu.jpg" alt="person3">
            </figure>

            <a href="#">
              <h3 class="card-title">Himanshu Singh</h3>
            </a>

            <p class="card-subtitle">Video Editor</p>

            <ul class="card-social-list">

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-google"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>

            </ul>

          </div>
        </li>
         <li>
          <div class="teachers-card">

            <figure class="card-banner">
              <img src="images/ajith.jpg" alt="person3">
            </figure>

            <a href="#">
              <h3 class="card-title">Ajith yadav</h3>
            </a>

            <p class="card-subtitle">Java Developer</p>

            <ul class="card-social-list">

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-google"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>

            </ul>

          </div>
        </li>
         <li>
          <div class="teachers-card">

            <figure class="card-banner">
              <img src="images/baljeet.jpg" alt="person3">
            </figure>

            <a href="#">
              <h3 class="card-title">Baljeet</h3>
            </a>

            <p class="card-subtitle">C++ Developer</p>

            <ul class="card-social-list">

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-google"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="card-social-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>

            </ul>

          </div>
        </li>

      </ul>

    </div>
  </section>
    {{>footer}}
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>