<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9915106184713182"
     crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
      
    <title>TechiSupport</title>
</head>
<body>
    <div id="scrollUpBtn"> <i class="fas fa-angle-up"></i></div>
    {{>header}}
    <br><br><br>
    <section class="courses" id="courses">
    <div class="container">


      <h2 class="h2 courses-title">We Have Most of Popular Topics</h2>

      <ul class="courses-list">
         <li>
          <div class="courses-card">

            <a href="/htmlCssJavascript" class="card-banner">
              <figure>
                <img src="images/icons/css.png" alt="web development">
              </figure>
            </a>

            <a href="/htmlCssJavascript">
              <h3 class="h3 card-title">Html/Css</h3>
            </a>

            <p class="card-text">
              Full Html/Css course for free....
            </p>

            <a href="/htmlCssJavascript" class="card-link">
              <span>Learn More</span>

              <ion-icon name="arrow-forward"></ion-icon>
            </a>

          </div>
        </li>

        <li>
          <div class="courses-card">

            <a href="/javascript" class="card-banner">
              <figure>
                <img src="images/icons/javascript.png" alt="web development">
              </figure>
            </a>

            <a href="/javascript">
              <h3 class="h3 card-title">Javascript</h3>
            </a>

            <p class="card-text">
              full Javascript course  for free....
            </p>

            <a href="/javascript" class="card-link">
              <span>Learn More</span>

              <ion-icon name="arrow-forward"></ion-icon>
            </a>

          </div>
        </li>

        <li>
          <div class="courses-card">

            <a href="/dsa" class="card-banner">
              <figure>
                <img src="images/icons/dsa.png" alt="dsa">
              </figure>
            </a>

            <a href="/dsa">
              <h3 class="h3 card-title">Dsa Sheet</h3>
            </a>

            <p class="card-text">
              Complete placement dsa sheet 200+ questions...
            </p>

            <a href="/dsa" class="card-link">
              <span>Learn More</span>

              <ion-icon name="arrow-forward"></ion-icon>
            </a>

          </div>
        </li>

        <li>
          <div class="courses-card">

            <a href="/nodejs" class="card-banner">
              <figure>
                <img src="images/icons/nodejs.png" alt="nodejs">
              </figure>
            </a>

            <a href="/nodejs">
              <h3 class="h3 card-title">Backend in NodeJs</h3>
            </a>

            <p class="card-text">
              Complete Backend development in NodeJs for free...
            </p>

            <a href="/nodejs" class="card-link">
              <span>Learn More</span>

              <ion-icon name="arrow-forward"></ion-icon>
            </a>

          </div>
        </li>

        <li>
          <div class="courses-card">

            <a href="/ProgrammingLang" class="card-banner">
              <figure>
                <img src="images/icons/c prog.png" alt="C programming">
              </figure>
            </a>

            <a href="/ProgrammingLang">
              <h3 class="h3 card-title">C Programming</h3>
            </a>

            <p class="card-text">
         Complete C programming with top interview Questions....
            </p>

            <a href="/ProgrammingLang" class="card-link">
              <span>Learn More</span>

              <ion-icon name="arrow-forward"></ion-icon>
            </a>

          </div>
        </li>

        <li>
          <div class="courses-card">

            <a href="/ProgrammingLang" class="card-banner">
              <figure>
                <img src="images/icons/c++ prog.png" alt="Techi support courses">
              </figure>
            </a>

            <a href="/ProgrammingLang">
              <h3 class="h3 card-title">C++ Programming</h3>
            </a>

            <p class="card-text">
               Complete C++ programming with top interview Questions....
            </p>

            <a href="/ProgrammingLang" class="card-link">
              <span>Learn More</span>

              <ion-icon name="arrow-forward"></ion-icon>
            </a>

          </div>
        </li>
                <li>
          <div class="courses-card">

            <a href="/projectshtml" class="card-banner">
              <figure>
                <img src="images/components/htmlcss.jpg" alt="projects">
              </figure>
            </a>

            <a href="/projectshtml">
              <h3 class="h3 card-title">Html/Css Projects</h3>
            </a>

            <p class="card-text">
              Unique and skill building projects free source code...
            </p>

            <a href="/projectshtml" class="card-link">
              <span>Learn More</span>

              <ion-icon name="arrow-forward"></ion-icon>
            </a>

          </div>
        </li>

        <li>
          <div class="courses-card">

            <a href="/projectscript" class="card-banner">
              <figure>
                <img src="images/icons/javascript.jpg" alt="Projects">
              </figure>
            </a>

            <a href="/projectscript">
              <h3 class="h3 card-title">Javascript Projects</h3>
            </a>

            <p class="card-text">
               Unique and skill building projects free source code...
            </p>

            <a href="/projectscript" class="card-link">
              <span>Learn More</span>

              <ion-icon name="arrow-forward"></ion-icon>
            </a>

          </div>
        </li>

        <li>
          <div class="courses-card">

            <a href="/fullmernpro" class="card-banner">
              <figure>
                <img src="images/components/nodejs.jpeg" alt="Projects">
              </figure>
            </a>

            <a href="/fullmernpro">
              <h3 class="h3 card-title">Full Mern Projects</h3>
            </a>

            <p class="card-text">
              Unique and skill building projects free source code...
            </p>

            <a href="/fullmernpro" class="card-link">
              <span>Learn More</span>

              <ion-icon name="arrow-forward"></ion-icon>
            </a>

          </div>
        </li>

      </ul>
    </div>
  </section>

    {{>footer}}
     <script src="scripts/script.js"></script>
          <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>