<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/dsa.css">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2698798825015879"
     crossorigin="anonymous"></script>

  <title>TechiSupport</title>
</head>

<body>
  <div id="scrollUpBtn"> <i class="fas fa-angle-up"></i></div>
  {{>header}}
  <br><br><br><br>
  <center>
    <h1>Data Structures most Selected Questions Topic wise!!</h1>
  </center>

  <div class="top-section">
    <div>
      <div class="dsa-nav-bar">
        <div class="ps-list-filters">
          <a class="dsa-nav-bar-link all selected" href="">All</a>
          <a class="dsa-nav-bar-link basic " href="">Basic</a>
          <a class="dsa-nav-bar-link medium " href="">Medium</a>
          <a class="dsa-nav-bar-link medium " href="">Hard</a>
        </div>
        <div class="nav-search-box"><input class="search-box-dsa" placeholder="Search for a problem"
            value=""></div>
      </div>
      <div class="problems">
        <div class="problems-header">
          <div></div>
          <div class="problems-header-title">Problem Name</div>
          <div class="problems-header-score">Score</div>
          <div class="problems-header-accuracy">Accuracy</div>
          <div class="problems-header-difficulty">Difficulty</div>
          <div class="problems-header-company">Company</div>
        </div>
        <ul class="prob-list">
          <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
           <li class="prob-list-content">
            <div class="serial-no" >1</div>
            <a class="prob-list-link" href="">
              <div class="prob-list-content-title">Problem name</div>
            </a>
            <div class="prob-list-content-score">80</div>
            <div class="prob-list-content-accuracy">57<span class="accuracy-percent">%</span></div>
            <div class="prob-list-content-difficulty">
             <span class="content-difficulty difficulty-color-hard">hard</span>
            </div>
            <div class="prob-list-content-company">
              <img alt="" src="" class="company-icon" title="Amazon">
              <img alt="" src="" class="company-icon" title="Microsoft">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{>footer}}
  <script src="scripts/script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>