<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="css/courses.css">
   <link rel="stylesheet" href="css/specialization.css">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7482800961064906"
     crossorigin="anonymous"></script>

   <title>Techi support</title>
</head>

<body>
   <div id="scrollUpBtn"> <i class="fas fa-angle-up"></i></div>
   {{>header}}
   <div class="sidenav">
      <nav>
         <div class="content">
            <ul class="lists">
               <li><a href="">Home</a></li>
               <li><a href="#intro">Introduction</a></li>
               <li><a href="#basic">Basics html</a></li>
               <li><a href="#head">Head Section</a></li>
               <li><a href="">Heading Tag</a></li>
               <li><a href="">Paragraph Tag</a></li>
               <li><a href="">Anchor Tag</a></li>
               <li><a href="">Text style Tag</a></li>
               <li><a href="">Home</a></li>
               <li><a href="">Introduction</a></li>
               <li><a href="">Basics of html</a></li>
               <li><a href="">HTML Attributes</a></li>
               <li><a href="">Heading Tag</a></li>
               <li><a href="">Paragraph Tag</a></li>
               <li><a href="">Anchor Tag</a></li>
               <li><a href="">Text style Tag</a></li>
            </ul>
         </div>
      </nav>
      
   </div>
   <button class="toggle-button"><i class="fas fa-bars"></i></button>

   <div class="main">
      <section class="Home-page">
         <div class="container">
            <div class="Home-page-content">

               <h1 class="h1 Home-page-title">Start Your Web development
                  journey with Html and Css</h1>

               <p class="section-text">
                  The course is designed for beginers with complete
                  resources.
                  Complete your basics and fundamental with our resources.
                  feel free to message or mail to us foe feedback and
                  improvement.
               </p>

            </div>
            <div class="Home-page-banner">
               <img src="images/heading.jpg" style="border-radius: 50%;"
                  alt="A young lady sits, holding a pen and a notebook.">
            </div>

         </div>

      </section>
      <div class="notes-images">
         <img src="/images/html/intro.png" alt="" id="intro">
         <br>
         <img src="/images/html/lec2 (3).png" alt="" id="basic">
         <img src="/images/html/lec2 (1).png" alt="" id="">
         <img src="/images/html/lec2 (2).png" alt="" id="">
      </div>

     
   </div>
    <script>
      const sidenav = document.querySelector('.sidenav');
      const toggleButton = document.querySelector('.toggle-button');

      toggleButton.addEventListener('click', () => {
         sidenav.classList.toggle('show');
         sidenav.classList.toggle('hide');
      });
   </script>

 {{>footer}}
   <script src="scripts/script.js"></script>
   <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
   <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>