<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/courses.css">
	<link rel="stylesheet" href="css/specialization.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9915106184713182"
     crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
      <div id="scrollUpBtn"> <i class="fas fa-angle-up"></i></div>
   {{>header}}

   <div class="upper-main">
    <div class="video-content"></div>
    <div class="scroll-bar">
      
    </div>
   </div>
<div class="sidenav">
	<nav>
   <div class="content">
	<ul class="lists">
	<li><a href="">Home</a></li>
		<li><a href="">Introduction</a></li>
		<li><a href="">Basics of html</a></li>
		<li><a href="">HTML Attributes</a></li>
		<li><a href="">Heading Tag</a></li>
		<li><a href="">Paragraph Tag</a></li>
		<li><a href="">Anchor Tag</a></li>
		<li><a href="">Text style Tag</a></li>
        <li><a href="">Home</a></li>
		<li><a href="">Introduction</a></li>
		<li><a href="">Basics of html</a></li>
		<li><a href="">HTML Attributes</a></li>
		<li><a href="">Heading Tag</a></li>
		<li><a href="">Paragraph Tag</a></li>
		<li><a href="">Anchor Tag</a></li>
		<li><a href="">Text style Tag</a></li>
	</ul>
   </div>
	</nav>
</div>
<br><br><br>
<div class="main">
    
	   <h1 class=" Home-page-title">Start Your Future vision with Techi Support</h1>

        <p class="section-text">
          Think of a dream , make it your vision. Work to make your vision into Reality.
          This platform will provide you with all resources to make your vision into your reality.
          A warm welcome from Techi Support.
        </p>
{{>footer}}
</div>
<script src="scripts/script.js"></script>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>