<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="scrollUpBtn"> <i class="fas fa-angle-up"></i></div>
   {{>header}}
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum 
  optio praesentium doloribus? Tempore quas rem consectetur modi non 
  doloribus minus, impedit qui laborum blanditiis sit voluptate! Veritatis
   recusandae, vitae ab necessitatibus cum eum. Ut nobis velit quam adipisci paria
   tur maxime ex neque doloremque modi eligendi. Consectetur explicabo corrupti dignissim
   os quisquam excepturi provident. Ut laudantium dolorem quisquam fuga culpa minima, quis porro 
   rerum quas dicta laborum mollitia suscipit asperiores ipsum facilis, voluptatem neque, nostrum dolorum. Ape
   riam incidunt vel quas, ut est laudantium quo ex nam porro rerum doloremque, illum, qui dol
   orum suscipit nesciunt quae ipsa impedit id animi corporis exercitationem? Cupiditate error fugiat 
   voluptate ab molestias, quasi aliquam nesciunt repellat, nisi adipisci libero quisquam numquam inventor
   e officia vero? Quasi laudantium neque aperiam doloremque exercitationem aut dolor quis, ducimus nemo debiti
   s dolorem recusandae! Deleniti soluta autem consectetur similique temporibus tempore
    aperiam minima natus quasi odio rerum, dolores ipsum illo veritatis nesciunt dolori
    bus quam pariatur cumque vitae voluptates suscipit iusto provident delectus? Harum minus 
    voluptatibus magni, laborum inventore illo sunt, aut repellendus explicabo porro pariatur 
    totam dignissimos? Corporis aliquam, quidem optio eius sit delectus veniam dolorum. Delect
    us saepe eaque incidunt doloremque? 
  Tempora reprehenderit consequuntur laboriosam corrupti provident qu
  od doloribus accusantium voluptate nemo minima.
    {{>footer}}
     <script src="scripts/script.js"></script>
    	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>