<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>404 Error Page</title>
      <link rel="stylesheet" href="css/style.css">
      <style>

body{
  height: 100vh;
 background-image: url('images/components/h.gif');
    background-repeat: no-repeat;
    background-size: 100%;
}
#error-page{
  position: absolute;
  top: 2%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#error-page .content{
  max-width: 600px;
  text-align: center;
}
.content h2.header{
  font-size: 14vw;
  line-height: 1em;
  position: relative;
}


.content .btns{
  margin: 50px 20px;
  display: inline-flex;
}

      </style>
   </head>
   <body>
      <div id="error-page">
         <div class="content">
            <h2 class="header" data-text="404">
               404
            </h2>
            <h1 class=" Home-page-title">
               Opps! Page not found
            </h1>
            <p>
               Sorry, the page you're looking for doesn't exist. If you think something is broken, report a problem.
            </p>
            <button class="btn btn-primary"><a href="/index.html">Retun Home</a></button>
             <button class="btn btn-primary"><a href="/index.html#contactus_section">Report</a></button>
           
         </div>
      </div>
   </body>
</html>