<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2698798825015879"
     crossorigin="anonymous"></script>
      <meta charset="utf-8">
      <title>404 Error Page</title>
      <link rel="stylesheet" href="css/style.css">
      {{!-- <style>

body{
 background-image: url('images/components/h.gif');
    background-repeat: no-repeat;
    background-size: 100%;
}
#error-page{
  position: absolute;
  top: 2%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#error-page .content{
  max-width: 600px;
  text-align: center;
}
.content h2.header{
  font-size: 14vw;
  line-height: 1em;
  position: relative;
}


.content .btns{
  margin: 50px 20px;
  display: inline-flex;
}

      </style> --}}
   </head>
   <body>
      {{!-- <div id="error-page">
         <div class="content">
            <h2 class="header" data-text="404">
               404
            </h2>
            <h1 class=" Home-page-title">
               Opps! Page not found
            </h1>
            <p>
               Sorry, the page you're looking for doesn't exist. If you think something is broken, report a problem.
            </p>
            <button class="btn btn-primary"><a href="/index.html">Retun Home</a></button>
             <button class="btn btn-primary"><a href="/index.html#contactus_section">Report</a></button>
           
         </div>
      </div> --}}
       <section class="Home-page">
    <div class="container">



      <div class="Home-page-content">
        
        <h1 class=" Home-page-title">Opps! Page not found</h1>

        <p class="section-text">
         Sorry, the page you're looking for doesn't exist.
          If you think something is broken, report a problem.
         
        </p>

        <button class="btn btn-primary"><a href="/">Retun Home</a></button>
        <button class="btn btn-primary"><a href="/#contactus_section">Report</a></button>

      </div>
      <div class="Home-page-banner">
        <img src="images/components/h.gif"  alt="page not found">
      </div>

    </div>

  </section>
   </body>
</html>