<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <title>TechiSupport</title>
</head>

<body>
    <div id="scrollUpBtn"> <i class="fas fa-angle-up"></i></div>
  {{>header}}
  <section class="about" id="about">
    <div class="container">

      <figure class="about-banner">

        <img src="images/new-about.jpg" alt="techi support students" class="about-img">

      </figure>

      <div class="about-content">

        <h2 class="h2 about-title">We Help to Create Path to vision & Success in Your Career!</h2>

        <p class="section-text">
         The Platform is built for enthusiastic web developers and software developers looking for
         free content and guidence.
         We are 24x7 available to help such individuals.
          The aim of Techi Support is to provide quality content.
        </p>

        <button class="btn btn-primary"><a href="/login">Get Started Today</a></button>

      </div>
    </div>
  </section>


  <center>
    <p id="service">Services</p>
  </center>
  <div class="service-swipe">
    <div class="diffSection" id="services_section">
    </div>
    <a href="/htmlCssJavascript">
      <div class="s-card"><img src="images/computer-courses.png">
        <p>Html and css</p>
      </div>
    </a>
    <a href="/javascript">
      <div class="s-card"><img src="images/brainbooster.png">
        <p>Javascript</p>
      </div>
    </a>
    <a href="/nodejs">
      <div class="s-card"><img src="images/nodejs.jpeg">
        <p>NodeJs</p>
      </div>
    </a>
  
    <a href="/nodejs">
      <div class="s-card"><img src="images/express.jpeg">
        <p>ExpressJs</p>
      </div>
    </a>
    <a href="#">
      <div class="s-card"><img src="images/online-tutorials.png">
        <p>Online Video Lectures</p>
      </div>
    </a>
    <a href="#">
      <div class="s-card"><img src="images/papers.jpg">
        <p>Notes</p>
      </div>
    </a>
    <a href="#">
      <div class="s-card"><img src="images/p3.png">
        <p>Performance and Ranking Report</p>
      </div>
    </a>
    <a href="/index.html#contactus_section">
      <div class="s-card"><img src="images/discussion.png">
        <p>Discussion with Our Tutors & Mentors</p>
      </div>
    </a>
    <a href="quiz">
      <div class="s-card"><img src="images/q1.png">
        <p>Daily Brain Teasing Questions to Improve IQ</p>
      </div>
    </a>
    <a href="/index.html#contactus_section">
      <div class="s-card"><img src="images/help.png">
        <p>24x7 Online Support</p>
      </div>
    </a>
    <a href="/projectshome">
      <div class="s-card"><img src="images/editor.png">
        <p>All Projects</p>
      </div>
    </a>
    <a href="/projectshtml">
      <div class="s-card"><img src="images/htmlpro.png">
        <p>Html/Css Projects</p>
      </div>
    </a>
    <a href="/projectscript">
      <div class="s-card"><img src="images/cal.png">
        <p>Javascript Projects</p>
      </div>
    </a>
    <a href="/fullmernpro">
      <div class="s-card"><img src="images/edu.png">
        <p>Full Mern Projects</p>
      </div>
    </a>
    <a href="#">
      <div class="s-card"><img src="images/help.png">
        <p>Comming soon....</p>
      </div>
    </a>
  </div>
  {{>footer}}
  <script src="scripts/script.js"></script>
     <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>