<footer>
  <div class="content">
    <div class="top">
      <div class="logo-details">
        <span class="logo_name">Techi<span style="color: #fff;">Support</span>
      </div>
      <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="link-boxes">
      <ul class="box">
        <li class="link_name">Company</li>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/index.html#contactus_section">Contact us</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/login">Get started</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Services</li>
        <li><a href="#">Video Lectures</a></li>
        <li><a href="/htmlCssJavascript">Web design</a></li>
        <li><a href="/Programminglang">Programming lang</a></li>
        <li><a href="/projectshome">Projects and codes</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Projects</li>
        <li><a href="/projectshtml">Html/css </a></li>
        <li><a href="/projectscript">JavaScript</a></li>
        <li><a href="/fullmernpro">Full mern</a></li>
        <li><a href="/projectshome">More..</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Courses</li>
        <li><a href="/htmlCssJavascript">HTML & CSS</a></li>
        <li><a href="/htmlCssJavascript">JavaScript</a></li>
        <li><a href="#">Bootstrap</a></li>
        <li><a href="/nodejs">Nodejs</a></li>
      </ul>
      <ul class="box input-box">
        <li class="link_name">Subscribe</li>
        <li><input type="text" placeholder="Enter your email"></li>
        <li><input type="button" value="Subscribe"></li>
      </ul>
    </div>
  </div>
  <div class="bottom-details">
    <div class="bottom_text">
      <span class="copyright_text">Copyright © 2023 <a href="#">EduPoint.</a>All rights reserved</span>
      <span class="policy_terms">
        <a href="#">Privacy policy</a>
        <a href="#">Terms & condition</a>
      </span>
    </div>
  </div>
</footer>