 <div class="quiztoggle">
      <i class="fa fa-bars toggle" style="font-size:26px;color:red; margin:5px;" onclick="ToggleMode()"></i>
      <i class="fa fa-close toggleclose" style="font-size:26px;color:red; margin:5px; " onclick="ToggleModeClose()">X</i>
      <ul class="quizpagetoshow">
        <li><a href="/Htmlquiz1"> Html Quiz 1</a></li>
        <li><a href="/Htmlquiz2"> Html Quiz 1</a></li>
        <li><a href="/Htmlquiz3"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
        <li><a href="#"> Html Quiz 1</a></li>
      </ul>
    </div>